<a href="https://colab.research.google.com/github/albivaltzew/Machine_learning_DC_ITMO/blob/main/Unit9_Kmeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("cluster.csv", delimiter=",",header = 0, index_col = "Object")
df.head()

         X   Y  Cluster
Object
1        5   9        0
2       10  14        1
3        2   9        2
4       11  11        1
5       14  18        2

In [ ]:
model = KMeans(n_clusters=3, init=np.array([[12.0, 11.5], [12.71, 13.43], [10.5, 8.75]]), max_iter=100, n_init=1)

In [ ]:
X = df.drop("Cluster",axis= 1)
Y = df["Cluster"]
X

         X   Y
Object
1        5   9
2       10  14
3        2   9
4       11  11
5       14  18
6        9  15
7       20  16
8       18   5
9       16   3
10       8   3
11      18  19
12      19   9
13       5  14
14      16  14
15       8  16

In [ ]:
model.fit(X)

KMeans(init=array([[12.  , 11.5 ],
       [12.71, 13.43],
       [10.5 ,  8.75]]),
       max_iter=100, n_clusters=3, n_init=1)

In [ ]:
df['Cluster'] = model.labels_
# df.groupby('Cluster').mean()
df.groupby('Cluster').mean()

                 X          Y
Cluster
0         7.142857  12.571429
1        17.400000  15.200000
2        14.000000   3.666667

In [ ]:
model.labels_

array([0, 0, 0, 0, 1, 0, 1, 2, 2, 2, 1, 1, 0, 1, 0], dtype=int32)

In [ ]:
df

         X   Y  Cluster
Object
1        5   9        0
2       10  14        0
3        2   9        0
4       11  11        0
5       14  18        1
6        9  15        0
7       20  16        1
8       18   5        2
9       16   3        2
10       8   3        2
11      18  19        1
12      19   9        1
13       5  14        0
14      16  14        1
15       8  16        0

In [ ]:
model.transform(X)

array([[ 4.16496564, 13.86362146, 10.46156988],
       [ 3.19438282,  7.49666593, 11.08051343],
       [ 6.26131629, 16.60120478, 13.1318104 ],
       [ 4.16496564,  7.65506368,  7.92324288],
       [ 8.74584449,  4.40454311, 14.33333333],
       [ 3.05727637,  8.40238062, 12.38726945],
       [13.30643545,  2.7202941 , 13.71536041],
       [13.23646787, 10.21763182,  4.21637021],
       [13.04075245, 12.28006515,  2.10818511],
       [ 9.60973146, 15.40129865,  6.03692343],
       [12.61760998,  3.84707681, 15.84648577],
       [12.3833331 ,  6.40312424,  7.31057073],
       [ 2.57539377, 12.4579292 , 13.70320319],
       [ 8.97161055,  1.84390889, 10.52510227],
       [ 3.53409054,  9.43398113, 13.71536041]])

In [ ]:
d = [0, 0, 0, 0, 1, 0, 1, 2, 2, 2, 1, 1, 0, 1, 0]

sum = (4.16496564+3.19438282+6.26131629+4.16496564 + 3.05727637 +2.57539377+3.53409054)/7
sum

3.850341581428572